# Environment
.env
.flaskenv
*.env
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Project specific
/tmp/
*.webm
*.mp4
*.jpg
*.jpeg
*.png
!frontend/assets/
